{% extends 'navbar.html' %}

{% block title %}
<title>cours</title>
{% endblock %}



{% block userinfo %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text " name="name" placeholder="name...">
    <br>
    <textarea name="text" id="" cols="30" rows="10" placeholder="text..."></textarea>
    
    <br>
    <input type="link " name="link" placeholder="link...">
  
    <input id="button"  type="submit" value="login " style="color: #000000;">
  </form>


{% endblock %}

<!-- -->