{% extends 'navbar.html' %}

{% block title %}
<title>Upload</title>
<style>
  .li{
    padding: 10px;
    border: 2px black solid;
  }

</style>

{% endblock %}



{% block userinfo %}
<td><button><a href="{% url 'CoursUpload'   %}">New cour</a></button></td>
{% for x in cours %}
          <li class="li">
            
              <td class="td"><a href=" {% url 'Seriesdisplay'  x.id %} ">{{ x.name }}</a></td>
              <td class="td"><button><a href="{% url 'cour_Update' x.id %}">Update</a></button></td>
              <td class="td"><button><a href="{% url 'cour_Delete' x.id %}">delete</a></button></td>
              
          </li>
        {% endfor %}

<!-- <p><a href="{% url 'home' %}">Return to home</a></p>-->
{% endblock %}