{% extends 'navbar.html' %}
{% load static %}
{% block title %}
<title>cours</title>
<link rel="stylesheet" href="{% static '/css/coursUpload.css' %}">


{% endblock %}



{% block userinfo %}
<div class="centent">

  <form method="post" enctype="multipart/form-data">
    <h1 class="textcenter"> Upload</h1>
      {% csrf_token %}
      <label for="name">name</label>
      <input type="text" name="name" id="">
      <label for="file">file</label>
      <input type="file" name="file" id="">
      <label for="module">module</label>
      <select name="module" id="">
        {% for x in modules %}
        {{x.Modulenom}}
        <option value="{{ x.modulenom }} ">{{ x.modulenom }} </option>
  
        {%  endfor %}
      </select>
  
          <button type="submit">Upload</button>
    </form>
  
  </div>

{% endblock %}