{% extends 'navbar.html' %}
{% load static %}

{% block title %}
<title>home</title>
<link rel="stylesheet" href="{% static '/css/EncadrementDesMAasterUpdate.css' %}">

{% endblock %}



{% block userinfo %}

<div class="content">
  <button><a href="{% url 'MAaster_upload_views' %}">add Etudiants</a></button>

  <table class="table  ">
    <thead style="color: aliceblue; background-color: #222A38;  height: 60px;">
      <tr>
        <th class="centerTxt">  mame</th>
        <th class="centerTxt">Sujets des PFE  Master Big Data et Clouad Computing</th>
        
        <th class="centerTxt">Annee</th>
       
        <th class="centerTxt">Delete</th>
      </tr>
    </thead>

    <tbody style=" color: #222A38; background-color: whitesmoke; ">

      {% for x in MAaster %}
      <tr>

        <td class="centerTxt">{{x.name}}</td>
        <td class="centerTxt"> {{x.SujetsDesPFE}}</td>
        <td class="centerTxt">{{x.AnneeInscription}}</td>

        <td><button class="center" style="width: 90px;"><a style="text-decoration: none; color: #000;"
              href="{% url 'MAaster_delete_views' x.id%}"><i class="bi bi-trash3-fill"></i> </button></td>

      </tr>
      {% endfor %}

    </tbody>
  </table>

  </table>
</div>





{% endblock %}