{% extends 'navbar.html' %}
{% load static %}
{% block title %}
<title>home</title>
<link rel="stylesheet" href="{% static '/css/EncadrementDesThesesdesplay.css' %}">
{% endblock %}



{% block userinfo %}
<div class="area">
  <ul class="circles">
    <div class="content">

      <table class="table  ">
        <thead style="color: aliceblue; background-color: #222A38;">
          <tr>
            <th scope="col"> Doctorant</th>
            <th scope="col">Sujet de thèse </th>
            <th scope="col">année d’inscription</th>

          </tr>
        </thead scope="row">
        <tbody style=" color: #222A38; background-color: whitesmoke; ">
          {% for x in Theses %}
          <tr>
            <td><a href="#">{{x.Doctorant}}</a></td>
            <td> {{x.Sujet}}</td>
            <td>{{x.AnneeInscription}}</td>

          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
{% endblock %}