{% extends 'navbar.html' %}
{% load static %}

{% block title %}
<title>home</title>
<link rel="stylesheet" href="{% static '/css/forget_password.css' %}">
<!--<link rel="stylesheet" href="{% static '/css/bk.css' %}">-->

{% endblock %}



{% block userinfo %}

{% if messages %}
                    
     {% for message in messages %}
       
              <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Danger!</strong> {{ message }}
              </div>
   
    {% endfor %}
              
{% endif %}


<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h3 class="textcenter">  LOST YOUR PASSWORD?    </h3>
    <p>Please enter your username . You will receive a link to create a new password via email.</p>
    <label for="username"  id="text " >Username</label>        
    <input  type="text" name="username" placeholder="Username...">
        <button type="submit">Upload</button>
  </form>
{% endblock %}