{% extends 'navbar.html' %}
{% load static %}
{% block title %}
<title>home</title>
<link rel="stylesheet" href="{% static '/css/modulesupload.css' %}">

{% endblock %}



{% block userinfo %}




<div class="content">

   <h1>upload</h1>

    <form method='POST' enctype="multipart/form-data">
      {% csrf_token %}
       <h4>module name : </h4>
        <input type="text" name="modulenom" placeholder="modulenom...">
        <button type="submit">Upload</button>
      </form>
  

</div>
 


{% endblock %}