{% extends 'navbar.html' %}
{% load static %}

{% block title %}
<title>home</title>

<link rel="stylesheet" href="{% static '/css/PUBLICATIONSCIENTIFIQUE.css' %}">

{% endblock %}



{% block userinfo %}


<div class="content">
    <header>Articles publiés dans des journaux internationaux SCOPUS    </header>
    <div class="contener ">
       <h1 class="textcenter">1</h1>
       <h3>El Fayq, K., Tkatek, S., Idouglid, L., Abouchabaka, J</h3>
       <p>Detection and Extraction of Faces and
        Text Lower Third Techniques for an Audiovisual Archive System using Machine Learning</p>
        <p>International Journal of Advanced Computer Science and Applications13(9), pp. 625-632.        </p>
    </div>
    <div class="contener">
        <h1 class="textcenter">2</h1>
        <h3>El Fayq, K., Tkatek, S., Idouglid, L., Abouchabaka, J</h3>
        <p>An intelligent
            irrigation system based on internet of things (IoT) to minimize water loss</p>
         <p>Indonesian Journal of
            Electrical Engineering and Computer Science, Vol. 25, No. 1, January 2022 </p>
     </div>


     <div class="contener">
        <h1 class="textcenter">3</h1>
        <h3>El Fayq, K., Tkatek, S., Idouglid, L., Abouchabaka, J</h3>
        <p> Intelligent System for Recruitment
            Decision Making using an Alternative Parallel-Sequential Genetic Algorithm»</p>
         <p>Indonesian Journal
            of Electrical Engineering and Computer Science, vol. 22, no. 1, pp. 385-395, April. 2021  </p>
     </div>
     <div class="contener">
        <h1 class="textcenter">4</h1>
        <h3>El Fayq, K., Tkatek, S., Idouglid, L., Abouchabaka, J</h3>
        <p>Putting the
            World Back to Work : An Expert System using Big Data and Artificial Intelligence for Combating
            the Spread of COVID-19 and Similar Contagious Diseases
            </p>
            <p>Journal of Prevention, Assessment,
                and Rehabilitation, 67(3), November 2020.</p>
      
     </div>
     <div class="contener">
        <h1 class="textcenter">5</h1>
        <h3>El Fayq, K., Tkatek, S., Idouglid, L., Abouchabaka, J</h3>
        <p>Artificial Intelligence for
            Improving the Optimization of NP-Hard Problems: A Review
        </p>
      <p>International Journal of Advanced
        Trends Computer Science and Applications, vol 9, no. 5, 2020</p>
     </div>
     <div class="contener">
        <h1 class="textcenter">6</h1>
        <h3>El Fayq, K., Tkatek, S., Idouglid, L., Abouchabaka, J</h3>
        <p>A hybrid genetic algorithms
            and sequential simulated annealing for a constrained personal reassignment problem to preferred
            posts»</p>
         <p>International Journal of Advanced Trends in Computer Science and Engineering, 9(1),62,
            pp. 454-464;2020 </p>
     </div>
     <div class="contener">
        <h1 class="textcenter">7</h1>
        <h3>El Fayq, K., Tkatek, S., Idouglid, L., Abouchabaka, J</h3>
        <p>Automatic slums
            identification around normal and smart cities: using Machine-learning on VHR Satellite Imagery</p>
         <p>International Journal of Advanced Trends Computer Science and Applications vol 9, no. 5, 2020
        </p>
     </div>
     <div class="contener">
        <h1 class="textcenter">8</h1>
        <h3>El Fayq, K., Tkatek, S., Idouglid, L., Abouchabaka, J</h3>
        <p>The immigration genetic
            approach to improve the optimization of constrained assignment problem of human resources</p>
         
     </div>

 <div class="DERNIERS_DIPLoMES_UNIVERSITAIRES">
    <header>Publication dans des actes de congrès internationaux avec comité de lecture</header>

        <div class="card1">
            <div>1</div>
            <h2>Said Tkatek, Otman Abdoun, Jaafar Abouchabaka</h2>
            <p> « An Approach for Resolution The Multi
                Constrained Personnel Reassignment Problem» International Conference Advanced
                Information Technology, (AIT2S-15) Dec 16/17, 2015, FST Settat, accepted for Oral
                Presentation </p>
        </div>
        <div class="card1">
            <div>2</div>
            <h2>Said Tkatek, Otman Abdoun, Jaafar Abouchabaka</h2>
            <p> a «A Hybrid Heurstique Method to Solve a
                Assignment Problem of Human Resource » Journée doctorale en sciences appliquées JSSA'15,
                Avril 2015, Larache, Maroc. </p>
        </div>
        <div class="card2">
            <div>3</div>
            <h2> Said Tkatek, Otman Abdoun, Jaafar Abouchabaka </h2>
            <p>«A Genetic Approach for a Reassignment
                Problem of Human Resources under Objective Constraint » Journée Scientifique en Sciences
                Appliquées JSSA' 2014, Larache ,Maroc, Avril 2014.
            </p>
        </div>
        <div class="card2">
            <div>4</div>
            <h2> Said Tkatek, Otman Abdoun, Jaafar Abouchabaka</h2>
            <p> «A Genetic Approach to solve the
                Assignment of Human Resources Problem» 2scs International Symposium on Security and
                Safety of Complex Systems, 25-26 may, 2012,Agadir,Morocco
            </p>
        </div>
        <div class="card2">
            <div>5</div>
            <h2> Said Tkatek Jaafar Abouchabaka </h2>
            <p> «Optimization of Human Resources Assignment Problem
                by the Genetic Algorithm» The 3rd International Conference on Multimedia Computing and
                Systems (ICMCS'12),May 10-12, Tangier, Morocco, 2012. 
            </p>
        </div>
        <div class="card2">
            <div>5</div>
            <h2> Said Tkatek, Jaafar Abouchabak</h2>
            <p>  «A Mutation-Permutation algorithm Approach to an
                Assignment Problem of Human Resources» International Congress on Numerical Analysis
                and Scientific Computing with Applications in Sciences and Engineering NASCASE11: Settat
                (Morocco), April 19-20, 2011.
                es
            </p>
        </div>
        <div class="card2">
            <div>6</div>
            <h2> Said Tkatek, Jaafar Abouchabaka «</h2>
            <p> «Méthode de postes fictifs pour un problème
                d’affectation des ressources humaines» 1er Congrès International d’Informatique et des
                Sciences de l’Ingénieur ISI2011, Juin 2011, Meknes&Errachidia, Maroc, 2011
            </p>
        </div>
    </div>
 

</div>

{% endblock %}