{% extends 'navbar.html' %}
{% load static %}

{% block title %}
<title>home</title>

<link rel="stylesheet" href="{% static '/css/PUBLICATIONSCIENTIFIQUE.css' %}">

{% endblock %}



{% block userinfo %}


<div class="content">
    <header>Articles publiés dans des journaux internationaux SCOPUS    </header>
    <div class="contener ">
       <h1 class="textcenter">1</h1>
       <h3>El Fayq, K., Tkatek, S., Idouglid, L., Abouchabaka, J</h3>
       <p>Detection and Extraction of Faces and
        Text Lower Third Techniques for an Audiovisual Archive System using Machine Learning</p>
        <p>International Journal of Advanced Computer Science and Applications13(9), pp. 625-632.        </p>
    </div>
    <div class="contener">
        <h1 class="textcenter">2</h1>
        <h3>El Fayq, K., Tkatek, S., Idouglid, L., Abouchabaka, J</h3>
        <p>Detection and Extraction of Faces and
         Text Lower Third Techniques for an Audiovisual Archive System using Machine Learning</p>
         <p>International Journal of Advanced Computer Science and Applications13(9), pp. 625-632.        </p>
     </div>
 

</div>

{% endblock %}