{% extends 'navbar.html' %}
{% load static %}

{% block title %}
<title>home</title>
<link rel="stylesheet" href="{% static '/css/rest_password.css' %}">

{% endblock %}



{% block userinfo %}



<form method="post" enctype="multipart/form-data">
    {% csrf_token %}



    <label for="username"  id="text " >new password</label>  
    <input type="password" name="password1" placeholder="Enter password" >

    <label for="username"  id="text " >Re-enter password</label>  
    <input type="password" name="password2"   placeholder="Re-enter password">




        <button type="submit">Upload</button>
  </form>
{% endblock %}