{% extends 'navbar.html' %}

{% block title %}
<title>Contact</title>
<style>
   
    .text{
        font-size:medium; 
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      
       
    }
    #text{
      
      font-size: xx-large; 
      font-family: Verdana, Geneva, Tahoma, sans-serif;
       color: #3923b9; 
       margin-left: 40%;
      
       
       
    }
    #userenfas{
    


    width: 40%;
    height: 60%;
    background-color: rgba(255,255,255,0.13);
    position: relative;
    
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 19px ;
  }
.container{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.bubbles{
    position: absolute;
    display: flex;
}

.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background: aqua;
    margin: 0 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
     0 0 50px #4fc3dc , 0 0 0 10px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(100s/var(--i));
    }
.bubbles span:nth-child(even){
    background: rgb(255, 0, 119);
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px rgb(255, 0, 119) , 0 0 0 10px rgb(255, 0, 119);
}


    @keyframes animate {
       0%{
        transform: translateY(100vh) scale(0);
       } 
       100%{
        transform: translateY(-0vh) scale(1);
       } 
    }</style>
{% endblock %}



{% block userinfo %}
<div class="container">
    <div class="bubbles">
        
  <span style="--i:11 "></span>
  <span style="--i:22 "></span>
  <span style="--i:22 "></span>
  <span style="--i:13 "></span>
  <span style="--i:7 "></span>
  <span style="--i:32 "></span>
  <span style="--i:24 "></span>
  
  <span style="--i:14 "></span>
  <span style="--i:19 "></span>
  <span style="--i:8 "></span>
  <span style="--i:4 "></span>
  
  <span style="--i:28 "></span>
  <span style="--i:26 "></span>
  
  <span style="--i:13 "></span>
  <span style="--i:15 "></span>
  <span style="--i:6 "></span>
  <span style="--i:23 "></span>
  <span style="--i:16 "></span>
  
    </div>
  </div>
<div id="userenfas">
    <h1 id="text" >Contact</h1>
    <h2 class="text ">Prof. Saïd TKATEK</h2>

    <h2 class="text ">Département d'Informatique    </h2>
    <h2 class="text "> Université Ibn Tofail de Kénitra    </h2>
    <h2 class="text ">Université Ibn Tofail    </h2>
    <h2 class="text ">Tél. : 0673715711</h2>
    <h2 class="text ">Email : said.tkatek@uit.ac.ma</h2>



</div>

{% endblock %}