{% extends 'navbar.html' %}

{% block title %}
<title>home</title>
<style>
.btnSubmit:active{
    box-shadow: 0 3px gray;
    transform: translateY(3px);
} 
  tr,th ,td{
padding: 20px;
border: 2px black solid;
  }</style>
{% endblock %}



{% block userinfo %}

<button><a href="{% url 'Licence_upload_views'%}">add Etudiants</a></button>
<table>
    <tr>
        <th> Sujet de PFE de la Licence</th>
        <th>Etudiants concernés  </th>
        <th>Filière</th>
    </tr>
{% for x in Licence %}
<tr>
    <td><a href="#">{{x.SujetsDesPFE}}</a></td>
    <td> {{x.EtudiantsConcernes}}</td>
   <td>{{x.Filiere}}</td>
    <td ><a href="{% url 'Licence_delete_views' x.id%}" >delete</a></td>
    
</tr>
{% endfor %}
</table>

{% endblock %}