{% extends 'navbar.html' %}

{% block title %}
<title>Upload</title>

{% endblock %}



{% block userinfo %}
<td><button><a href="{% url 'SeriesUpload'   %}">New Series</a></button></td>

{% for x in mambre %}
          <li>
            
              <td><a href=" {% url 'Seriesdisplay'  x.id %} ">{{ x.name }}</a></td>
              <td><button><a href="{% url 'Serie_Update' x.id%}">Update</a></button></td>
              <td><button><a href="{% url 'Series_delete' x.id %}">delete</a></button></td>
          </li>
        {% endfor %}

<!-- <p><a href="{% url 'home' %}">Return to home</a></p>-->
{% endblock %}