
:root{

    --windocolor:#003b32    ;

}

   .textcenter{
    text-align: center;
   }

.content{
display: grid;
grid-template-columns: auto;
column-gap: 10px;

}
.content header{
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;
}
.content  .contener{
    height: 200px;
    width: 1000px;
    margin-top: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    color: white;

    background-color: var(--windocolor);
    border-radius: 10px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 10px 35px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 80px  auto;
}


h3{
    padding: 20px;
}

.content  .contener h1  .content  .contener h3{
    grid-column:  span 1;
    grid-row:  span 1;
}
.content  .contener p{
    grid-column:  span 2;
    grid-row:  span 1;
}
.content  .contener h1{
    height: 70px;
    width: 70px;
    border-radius: 50%;
  background-color: brown;
  grid-column: span 1;
  grid-row:span 1;
  font-size: 50px;
  text-align: center;
}


/**/
.DERNIERS_DIPLoMES_UNIVERSITAIRES{
   
    margin-top:200px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 80%;
    display: grid;
    grid-template-columns: auto ;
   
  }
  
  
  .card1 div,.card2 div{
    height: 70px;
    width: 70px;
    border-radius: 50%;
  background-color: brown;
  grid-column: span 1;
  grid-row:span 1;
  font-size: 50px;
  text-align: center;
  
  }
  
  .card1 h2,.card2 h2{
    grid-column: span 1;
  grid-row:span 1;
  
  
  }
  
  .card1 p,.card2 p{
    grid-column: span 2;
  grid-row:span 2;
  font-size: large;
  }
  
  
  
  .card1 , .card2{
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 10px 35px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 80px  auto;
  
  }
  
  .card1,
  .card2 {
    background-color: var(--windocolor);
    color: white;
  }
  header{
    margin-top: 20px;
  }