{% extends 'navbar.html' %}

{% load static %}

{% block title %}
<title>home</title>
<link rel="stylesheet" href="{% static '/css/ModulseDisplay.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

{% endblock %}



{% block userinfo %}

<div class="area" >
  <ul class="circles">
   



    <div class="row">
      <div class="column1">
        <table class="table  ">
          <thead style="color: aliceblue; background-color: #222A38;">
    
            <tr>
              <th>Examens</th>
              <th>afficher</th>
            </tr>
          </thead>
          <tbody style=" color: #222A38; background-color: whitesmoke; ">
            {% for x in Examens %}
            {% if x.module.modulenom == form.modulenom  %}
            <tr>
              <td>{{ x.name }}</td>
              <td><a href=" {% url 'Examendisplay'  x.id %} " target="_blank"><i
                    class="bi bi-file-earmark-arrow-down-fill"></i></a></td>
    
            </tr>
    
            {% endif %}
            {% endfor %}
          </tbody>
    
        </table>
      </div>
      <div class="column2">
    
        <table class="table  ">
          <thead style="color: aliceblue; background-color: #222A38;">
            <tr>
              <th>cours</th>
              <th>afficher</th>
            </tr>
          </thead>
          <tbody style=" color: #222A38; background-color: whitesmoke; ">
    
            {% for x in cours %}
            {% if x.module.modulenom == form.modulenom  %}
            <tr>
              <td>{{ x.name }}</td>
              <td><a href="{% url 'Courdisplay'  x.id %}" target="_blank"><i
                    class="bi bi-file-earmark-arrow-down-fill"></i></a></td>
    
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    
        </tbody>
      </div>
      <div class="column3">
        <table class="table  ">
          <thead style="color: aliceblue; background-color: #222A38;">
    
            <tr>
              <th>Serie</th>
              <th>afficher</th>
            </tr>
          </thead>
          <tbody style=" color: #222A38; background-color: whitesmoke; ">
            {% for x in mambre %}
            {% if x.module.modulenom == form.modulenom  %}
            <tr>
              <td>{{ x.name }}</td>
              <td><a href=" {% url 'Seriesdisplay'  x.id %} " target="_blank"><i
                    class="bi bi-file-earmark-arrow-down-fill"></i></a></td>
    
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
    
        </table>
      </div>
    </div>

          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
  </ul>
</div >

     
{% endblock %}


