{% extends 'navbar.html' %}
{% load static %}

{% block title %}
<title>home</title>
<link rel="stylesheet" href="{% static '/css/rest_password.css' %}">

{% endblock %}



{% block userinfo %}

{% if messages %}         
    {% for message in messages %}
          
              <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Danger!</strong> {{ message }} 
              </div>
         
      {% endfor %}
              
{% endif %}

         

              

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}



    <label for="username"  id="text " >new password</label>  
    <input type="password" name="password1" placeholder="Enter password" >

    <label for="username"  id="text " >Re-enter password</label>  
    <input type="password" name="password2"   placeholder="Re-enter password">




        <button type="submit">Upload</button>
  </form>
{% endblock %}