body {
  width: 100vw;
    height: 100vh;
  margin: 0;


}



html, body {margin: 0; height: 100%; overflow: hidden ;}


body .page-content {
  margin:0 ;
  width: 100%;
  height: 100%;
 
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  overflow-y: scroll
}

body .page-content section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
}
#nav{
  scroll-snap-align: start;
}


/******scrrol****/

.scroll-down {
  margin-top: 18px;
  height: 50px;
  width: 30px;
  border: 2px solid var(--primary);
  position: relative;
  left: 50%;
  bottom: 20px;
  border-radius: 50px;
  cursor: pointer;
}


.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid var(--primary);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}

.scroll-down::before {
  top: 30%;
  animation-delay: 0.3s;
  /* animation: scroll-down 1s ease-in-out infinite; */
}

@keyframes scroll-down {
  0% {
    /* top:20%; */
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    top: 90%;
    opacity: 0;
  }
}

/******end scrool*********/


body .page-content:nth-of-type(1) #COMPETENCES-INFORMATIQUES {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 4px;

}

body .page-content:nth-of-type(1) .grid-item {
  margin: 10px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 70px;
  font-size: small;
  text-align: center;
  border: 1px solid var(--primary);
  border-radius: 3px;
}

body .page-content:nth-of-type(1) #about-me-text {
  padding-left: 50px;
}

body .page-content:nth-of-type(1) .btn-secondary {
  background: transparent;
  color: var(--primary);
  border-color: var(--primary);
}

body .page-content:nth-of-type(1) .btn a {
  color: var(--textbtncolor);
}

body .page-content:nth-of-type(1) .btn-secondary:hover {
  background: var(--primary);
  color: var(--secondary);
  --textbtncolor: var(--secondary);
}


body .page-content:nth-of-type(1) #Ce-que-je-fais {
  width: 100%;
}

body .page-content:nth-of-type(1) #Ce-que-je-fais-comtent {
  
  display: grid;
  grid-template-columns: auto ;
  padding: 5px;
}

body .page-content:nth-of-type(1) .windo {
  height: 400px;
  width: 700px;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 30px 35px;
}

 #Web-Development {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding-bottom: 20px;
}

/*# sourceMappingURL=cv.css.map */



#Professional-Technical-Skills {

  width: 100%;

  display: grid;
  grid-template-columns: auto auto;

  padding: 19px;

}

#Professional-content {


  display: grid;
  grid-template-columns: auto auto;
}

.progress1 {
  width: 150px;
  height: 150px;
  line-height: 150px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
}

.progress1:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 12px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.progress1>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress1 .progress-left {
  left: 0;
}

.progress1 .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 12px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress1 .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress1 .progress-right {
  right: 0;
}

.progress1 .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards;
}

.progress1 .progress-value {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: #44484b;
  font-size: 24px;
  color: #fff;
  line-height: 135px;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 5%;
}

.progress1.blue .progress-bar {
  border-color: #049dff;
}

.progress1.blue .progress-left .progress-bar {
  animation: loading-2 1.5s linear forwards 1.8s;


}

.progress1.yellow .progress-bar {
  border-color: #fdba04;
}

.progress1.yellow .progress-left .progress-bar {
  animation: loading-3 1s linear forwards 1.8s;
}

.progress1.pink .progress-bar {
  border-color: #ed687c;
}

.progress1.pink .progress-left .progress-bar {
  animation: loading-4 0.4s linear forwards 1.8s;
}

.progress1.green .progress-bar {
  border-color: #1abc9c;
}

.progress1.green .progress-left .progress-bar {
  animation: loading-5 1.2s linear forwards 1.8s;
}

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
  }
}

@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
  }
}

@keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(126deg);
    transform: rotate(126deg);
  }
}

@media only screen and (max-width: 990px) {
  .progress1 {
    margin-bottom: 20px;
  }
}

/*****Custom Scrollbar ****/
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}