:root {
    --primary: rgb(29, 221, 189);
    --bgDark: rgb(12, 12, 12);
    --white: rgb(250, 250, 250);
    --secondary: rgb(0, 59, 50);
    --bgLight: rgb(190, 181, 181);
    --textbtncolor:rgb(29, 221, 189);
	--windocolor:rgb(0, 59, 50);
	--textcolor : white;
	--backgroundannonce: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23d23d09' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
 --backgroundannoncecolor:#ee5522;
 --backgroundannonces: black;

}
  

  body.dark {
	background: white url("https://www.toptal.com/designers/subtlepatterns/patterns/sports.png") fixed;
  color: black;
  --primary: rgb(10, 10, 10);
  --white:rgb(46, 26, 26);
  --secondary: white;
  --textbtncolor:black;
  --windocolor:black;
  --textcolor : black;
  --backgroundannoncecolor:#1E64EE;
 --backgroundannonce: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%230054da' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
 --logincolor:black ;
 --backgroundannonces :#4e54c8;

 --tbodyBackground-color:none;
 --theadBackground-color:#222A38;
 --contentBackground-color:whitesmoke;
}
*, *::before, *::after {
	 position: relative;
	 box-sizing: border-box;
}
 html, body {
	 width: 100%;
	 height: 100%;
	 margin: 0;
   
   
}
 body {
	 transition: background-color 0.6s cubic-bezier(0.7, 0, 0.7, 1);
   
  background-color: black;
   color: #cdf0f5;

}

 body.dark span {
	 color: #fff;
}
 .toggle {
	 display: flex;
	 align-items: center;
	 margin: 1em 0 0 1em;
}
 .toggle span {
	 font-family: sans-serif;
	 font-weight: 700;
	 letter-spacing: 1px;
	 transition: color 0.4s cubic-bezier(0.7, 0, 0.7, 1);
}
 input[type="checkbox"] {
	 width: 0;
	 height: 0;
	 position: absolute;
	 top: 0;
	 left: 0;
}
 #label {
	 display: block;
	 background-color: #158d9c;
  color: black;
	 width: 60px;
	 height: 30px;
	 border-radius: 2em;
	 overflow: hidden;
	 transition: transform 0.6s cubic-bezier(0.7, 0, 0.7, 1);
	 margin: 0 0.5em;
}
 #label::before {
	 content: '';
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 background-color: #81c784;
	 border-radius: inherit;
	 transform: translateX(-80%);
	 transition: transform 0.4s cubic-bezier(0.7, 0, 0.7, 1);
}
 #label::after {
	 content: '';
	 position: absolute;
	 height: 100%;
	 width: 30px;
	 background-color: #fff;
	 border-radius: 50%;
	 box-shadow: 0 0 5px rgba(0, 0, 0, .35);
	 border: 1px solid #ccc;
	 transform: translateX(0);
	 cursor: pointer;
	 transition: transform 0.4s cubic-bezier(0.7, 0, 0.7, 1);
	 z-index: 1;
}
 input[type="checkbox"]:checked ~ #label::after {
	 transform: translateX(100%);
}
 input[type="checkbox"]:checked ~ #label::before {
	 transform: translateX(0);
}
 input[type="checkbox"]:checked ~ #label, input[type="checkbox"]:focus ~ label {
	 outline: solid 1px lightgreen;
}
 

.navbar-dark {
  font-weight: bold;
    font-size: 16px;
   /* Change the height value to your desired height */
}
.navbar-inverse {
  padding-top: 6px; padding-bottom:6px ; 
  
 }
.navbar-toggle {
  margin-top: 30px; /* Adjust the margin-top as needed */
  /* Adjust the padding as needed */
}
#nav{
	background-color: black;
}
@media only screen and (min-width: 400px){ 
 
  #ul1nav,#ul2nav{
    padding: 20px 0;
  }
  
}
.navbar{
	margin-bottom: 0;
}